http_interactions:
- recorded_at: Thu, 23 Mar 2023 18:18:30 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"1679595510","name":"1679595510"},"relationships":{"users":{"data":[]}},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"1d783412-c9a7-11ed-b172-da7ad0900002","attributes":{"name":"1679595510","handle":"1679595510","summary":null,"description":null,"color":5,"created_at":"2023-03-23T18:18:30.948066+00:00","modified_at":"2023-03-23T18:18:30.948070+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/1d783412-c9a7-11ed-b172-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/1d783412-c9a7-11ed-b172-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 23 Mar 2023 18:18:30 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/1d783412-c9a7-11ed-b172-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
