http_interactions:
- recorded_at: Thu, 23 Mar 2023 18:18:29 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"1679595509","name":"1679595509"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"1cf6baf4-c9a7-11ed-bd51-da7ad0900002","attributes":{"name":"1679595509","handle":"1679595509","summary":null,"description":null,"color":7,"created_at":"2023-03-23T18:18:30.100092+00:00","modified_at":"2023-03-23T18:18:30.100095+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/1cf6baf4-c9a7-11ed-bd51-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/1cf6baf4-c9a7-11ed-bd51-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 23 Mar 2023 18:18:29 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"1679595509","name":"Example Team"},"relationships":{"users":{"data":[]}},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Team name and handle must be unique"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 409
      message: Conflict
- recorded_at: Thu, 23 Mar 2023 18:18:29 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/1cf6baf4-c9a7-11ed-bd51-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
