http_interactions:
- recorded_at: Mon, 20 Mar 2023 17:37:57 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datad0g.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"team","id":"9e255d14-8831-11ec-ac25-da7ad0900001","attributes":{"name":"AAA","handle":"aaa","summary":"Some
        kind of title akdnasknlaksn as''pfa''fsn poasmfa fojmaf a[fna fopnak faso
        111 link ad","description":"> Some kind of title akdnasknlaksn as''pfa''fsn
        poasmfa fojmaf a[fna fopnak faso 111 [link](www.google.com) ad\n\nThis is
        a test! YOWZA WOWZA","color":2,"created_at":"2022-02-07T16:18:42.965212+00:00","modified_at":"2023-03-03T16:00:02.976513+00:00","user_count":21,"link_count":1},"relationships":{"team_links":{"links":{"related":"/api/v2/team/9e255d14-8831-11ec-ac25-da7ad0900001/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/9e255d14-8831-11ec-ac25-da7ad0900001/permission-settings"}}}},{"type":"team","id":"02a14306-b9ba-11ed-8b06-da7ad0900001","attributes":{"name":"AA
        Audit Team AAA","handle":"aa-audit-team","summary":"This is a blockquote","description":">
        This is a blockquote\n\nThis is a paragraph","color":9,"created_at":"2023-03-03T11:53:27.752248+00:00","modified_at":"2023-03-03T12:29:20.071291+00:00","user_count":1,"link_count":0},"relationships":{"team_links":[...]
