http_interactions:
- recorded_at: Thu, 23 Mar 2023 18:19:59 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"1679595599","name":"1679595599"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"523e6bbc-c9a7-11ed-9ba6-da7ad0900002","attributes":{"name":"1679595599","handle":"1679595599","summary":null,"description":null,"color":1,"created_at":"2023-03-23T18:19:59.488932+00:00","modified_at":"2023-03-23T18:19:59.488936+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/523e6bbc-c9a7-11ed-9ba6-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/523e6bbc-c9a7-11ed-9ba6-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 23 Mar 2023 18:19:59 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/team/523e6bbc-c9a7-11ed-9ba6-da7ad0900002/permission-settings
  response:
    body:
      encoding: UTF-8
      string: '{"data":[{"type":"team_permission_settings","attributes":{"options":["user_access_manage","admins","members","organization"],"editable":true,"title":"Add
        and Remove Members","action":"manage_membership","value":"organization"},"id":"TeamPermission-523e6bbc-c9a7-11ed-9ba6-da7ad0900002-manage_membership"},{"type":"team_permission_settings","attributes":{"options":["teams_manage","admins","members"],"editable":true,"title":"Edit
        Team Details","action":"edit","value":"members"},"id":"TeamPermission-523e6bbc-c9a7-11ed-9ba6-da7ad0900002-edit"}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 23 Mar 2023 18:19:59 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/523e6bbc-c9a7-11ed-9ba6-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
