http_interactions:
- recorded_at: Wed, 22 Mar 2023 20:06:41 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"1679515601","name":"1679515601"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"0fb8126c-c8ed-11ed-bf22-da7ad0900002","attributes":{"name":"1679515601","handle":"1679515601","summary":null,"description":null,"color":6,"created_at":"2023-03-22T20:06:41.486910+00:00","modified_at":"2023-03-22T20:06:41.486915+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/0fb8126c-c8ed-11ed-bf22-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/0fb8126c-c8ed-11ed-bf22-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Wed, 22 Mar 2023 20:06:41 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/team/0fb8126c-c8ed-11ed-bf22-da7ad0900002/memberships
  response:
    body:
      encoding: UTF-8
      string: '{"data":[],"meta":{"pagination":{"offset":0,"first_offset":0,"prev_offset":0,"next_offset":100,"last_offset":0,"limit":100,"type":"offset_limit","total":0}},"links":{"self":"https://api.datadoghq.com/api/v2/team/0fb8126c-c8ed-11ed-bf22-da7ad0900002/memberships","last":null,"next":"https://api.datadoghq.com/api/v2/team/0fb8126c-c8ed-11ed-bf22-da7ad0900002/memberships?page[offset]=100&page[limit]=100","prev":null,"first":"https://api.datadoghq.com/api/v2/team/0fb8126c-c8ed-11ed-bf22-da7ad0900002/memberships?page[offset]=0&page[limit]=100"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Wed, 22 Mar 2023 20:06:41 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/0fb8126c-c8ed-11ed-bf22-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
