http_interactions:
- recorded_at: Thu, 23 Mar 2023 18:18:51 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"1679595531","name":"1679595531"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"29f038e8-c9a7-11ed-868e-da7ad0900002","attributes":{"name":"1679595531","handle":"1679595531","summary":null,"description":null,"color":0,"created_at":"2023-03-23T18:18:51.867744+00:00","modified_at":"2023-03-23T18:18:51.867748+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/29f038e8-c9a7-11ed-868e-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/29f038e8-c9a7-11ed-868e-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 23 Mar 2023 18:18:51 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"label":"Test-Get_a_team_link_returns_OK_response-1679595531","position":0,"url":"https://example.com"},"type":"team_links"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team/29f038e8-c9a7-11ed-868e-da7ad0900002/links
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team_links","id":"2a1fdeea-c9a7-11ed-a633-da7ad0900002","attributes":{"team_id":"29f038e8-c9a7-11ed-868e-da7ad0900002","label":"Test-Get_a_team_link_returns_OK_response-1679595531","url":"https://example.com","position":0}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 23 Mar 2023 18:18:51 GMT
  request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/team/29f038e8-c9a7-11ed-868e-da7ad0900002/links/2a1fdeea-c9a7-11ed-a633-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team_links","id":"2a1fdeea-c9a7-11ed-a633-da7ad0900002","attributes":{"team_id":"29f038e8-c9a7-11ed-868e-da7ad0900002","label":"Test-Get_a_team_link_returns_OK_response-1679595531","url":"https://example.com","position":0}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- recorded_at: Thu, 23 Mar 2023 18:18:51 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/29f038e8-c9a7-11ed-868e-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
