http_interactions:
- recorded_at: Thu, 23 Mar 2023 18:18:54 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"1679595534","name":"1679595534"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"2b868694-c9a7-11ed-bc99-da7ad0900002","attributes":{"name":"1679595534","handle":"1679595534","summary":null,"description":null,"color":1,"created_at":"2023-03-23T18:18:54.530691+00:00","modified_at":"2023-03-23T18:18:54.530695+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/2b868694-c9a7-11ed-bc99-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/2b868694-c9a7-11ed-bc99-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 23 Mar 2023 18:18:54 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/2b868694-c9a7-11ed-bc99-da7ad0900002/links/REPLACE.ME
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- recorded_at: Thu, 23 Mar 2023 18:18:54 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/2b868694-c9a7-11ed-bc99-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
