http_interactions:
- recorded_at: Thu, 23 Mar 2023 18:18:55 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"1679595535","name":"1679595535"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"2c29f4a0-c9a7-11ed-ab99-da7ad0900002","attributes":{"name":"1679595535","handle":"1679595535","summary":null,"description":null,"color":10,"created_at":"2023-03-23T18:18:55.601808+00:00","modified_at":"2023-03-23T18:18:55.601812+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/2c29f4a0-c9a7-11ed-ab99-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/2c29f4a0-c9a7-11ed-ab99-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 23 Mar 2023 18:18:55 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"label":"Test-Remove_a_team_link_returns_No_Content_response-1679595535","position":0,"url":"https://example.com"},"type":"team_links"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team/2c29f4a0-c9a7-11ed-ab99-da7ad0900002/links
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team_links","id":"2c5e15dc-c9a7-11ed-8376-da7ad0900002","attributes":{"team_id":"2c29f4a0-c9a7-11ed-ab99-da7ad0900002","label":"Test-Remove_a_team_link_returns_No_Content_response-1679595535","url":"https://example.com","position":0}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- recorded_at: Thu, 23 Mar 2023 18:18:55 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/2c29f4a0-c9a7-11ed-ab99-da7ad0900002/links/2c5e15dc-c9a7-11ed-8376-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Thu, 23 Mar 2023 18:18:55 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/2c29f4a0-c9a7-11ed-ab99-da7ad0900002/links/2c5e15dc-c9a7-11ed-8376-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: '{"errors":["Link for ID 2c5e15dc-c9a7-11ed-8376-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- recorded_at: Thu, 23 Mar 2023 18:18:55 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/2c29f4a0-c9a7-11ed-ab99-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
