http_interactions:
- recorded_at: Thu, 23 Mar 2023 18:18:57 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"handle":"1679595537","name":"1679595537"},"type":"team"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team","id":"2da36be0-c9a7-11ed-8ebd-da7ad0900002","attributes":{"name":"1679595537","handle":"1679595537","summary":null,"description":null,"color":12,"created_at":"2023-03-23T18:18:58.074694+00:00","modified_at":"2023-03-23T18:18:58.074701+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/2da36be0-c9a7-11ed-8ebd-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/2da36be0-c9a7-11ed-8ebd-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- recorded_at: Thu, 23 Mar 2023 18:18:57 GMT
  request:
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"label":"Test-Update_a_team_link_returns_OK_response-1679595537","position":0,"url":"https://example.com"},"type":"team_links"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team/2da36be0-c9a7-11ed-8ebd-da7ad0900002/links
  response:
    body:
      encoding: UTF-8
      string: '{"data":{"type":"team_links","id":"2dd3e798-c9a7-11ed-ad51-da7ad0900002","attributes":{"team_id":"2da36be0-c9a7-11ed-8ebd-da7ad0900002","label":"Test-Update_a_team_link_returns_OK_response-1679595537","url":"https://example.com","position":0}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- recorded_at: Thu, 23 Mar 2023 18:18:57 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/2da36be0-c9a7-11ed-8ebd-da7ad0900002/links/2dd3e798-c9a7-11ed-ad51-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- recorded_at: Thu, 23 Mar 2023 18:18:57 GMT
  request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/2da36be0-c9a7-11ed-8ebd-da7ad0900002
  response:
    body:
      encoding: UTF-8
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
recorded_with: VCR 6.0.0
